# Dependensi
node_modules/
dist/
assets/

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lingkungan
.env
.env.local
.env.development
.env.production

# Build
build/
out/

# TypeScript
*.tsbuildinfo

# Miscellaneous
.DS_Store
*.log
*.swo
*.swp
*.bak
*.tmp

# Tailwind CSS
tailwind.config.js.map

# File yang dihasilkan
*.d.ts

# File dokumentasi atau instruksi
use.txt